.Topbar {
    background-color:#01458e;
    height: auto;
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    /* padding: 10px */
  }
  .Topbar > img {
    width: auto;
    height: 70px;
    padding: 20px 10px;
  }